@import '_variables';

.card-course-item {
    margin-top: 16px;
}

a {
    text-decoration: none !important;
}

.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}