<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Daiki Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-grow-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/278695865_1388874631595946_8609680144145415935_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=WdXEjp5IH_cAX_qB2ab&_nc_ht=scontent.fdad3-4.fna&oh=00_AfAY6I0epw6JCVBdS13rRNbUTj7JZsm49tSR_UMMq8Htdw&oe=64243CB6"
              alt=""
              class="user-avatar"
            />
            Thanh Hưng
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/mine/stored/courses">Khóa học
                của tôi</a></li>
            <li><a class="dropdown-item" href="/mine/stored/news">Bài viết của
                tôi</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>